

//Set background image
body{
    background-image:
    linear-gradient(to bottom, rgba(75, 75, 75, 0.52), rgba(0, 0, 0, 0.73)),
    url("backgroundAbout.gif");
    background-attachment: fixed;
    background-size: cover;
}

//set menu
.pMenu{
    width: 80%;
    background: linear-gradient(to bottom, rgba(133, 9, 98, 0.52), rgba(0, 0, 0, 0.73));
    padding: 20px;
    align-items: center;
    margin: auto;
}
//set hover menu
.pMenu a{
    text-decoration: none;
    padding-left: 30px;
    color:white;
}
.pMenu a:hover{
    color: plum;
}
.pMenu :visited{
    color: white;
}
.pMenu a:active{
    color:purple;
}
.aTitle{
    color: white;
    margin: 50px;
}

//set text design
.aContent{
    width: 500px;
    padding-right: 20px;
    font-size: 20px;
    color: white;
    margin: 50px;
    word-spacing: 5px;

}


//set responsive when resize
@media screen and (min-width: 900px) and (max-width: 1440px) {
    .aContent{
        width: 500px;
        word-spacing: 0px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .pMenu{
        width: 90%;
    }

}


@media screen and (min-width: 375px)and (max-width: 812px) {
    .aContent{
        margin-left: 0px;
    }
    .pMenu{
        width: 90%;
    }

}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .aContent{
        margin-left: 0px;
        width: 400px;
    }
    .pMenu{
        width: 350px;
    }

    
}
