




$bgset: "bg.gif";
//Default const

//Background
body{
    background-image:
    linear-gradient(to bottom, rgba(75, 75, 75, 0.52), rgba(0, 0, 0, 0.73)),
    url($bgset);
    background-attachment: fixed;
    background-size: cover;
}

//Title
.blogTitle{
    font-size: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
}
.blogTitle h1{
    color: white;
}
// set menu list or header
.menuList {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    float: left;
}
.menuList a{ 
    font-size: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: white;
}

// Set menu list or header styler
.menuList a:hover{
    color: plum;
    font-size: 30px;
}
.menuList :visited{
    color: white;
}

.menuList a:active{
    color:purple;
}
//Set responsive

@media screen and (min-width: 900px) and (max-width: 1440px) {
    .blogTitle{
        font-size: 50px;
        margin-left: 100px;
        margin-bottom: 50px;
        }
    
        .menuList {
            margin-left: 100px;
        }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .blogTitle{
        font-size: 50px;
        margin-left: 100px;
        margin-bottom: 50px;
        }
    
        .menuList {
            margin-left: 100px;
        }
}

@media screen and (min-width: 375px)and (max-width: 812px) {

    .blogTitle{
    font-size: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    }

    .menuList {
        margin-left: 50px;
    }

}

@media screen and (min-width: 320px) and (max-width: 480px) {

    .blogTitle{
    font-size: 50px;
    margin-left: 0px;
    margin-bottom: 50px;
    }

    .menuList {
        margin-left: 0px;
    }

    
}





